@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  /* blue */
  --color-primary: rgb(29, 155, 240);
  /* black */
  --color-secondary: rgb(24, 24, 24);
}
